<h1>Submit a Friend</h1>
<% if @error %>
  <%= @error %>
<% end %>
<form action="/newfriend" method="post">

  <label for="first_name">First Name:</label>
  <input type="text" id="first_name" name="first_name" value="<%=@error_first_name%>"><br>

  <label for="last_name"> Last Name:</label>
  <input type="text" id="location" name="last_name" value="<%=@error_last_name%>"><br>

  <button type="submit">Add Friend</button><br>
</form>
<a class ="back" href="http://localhost:4567/friends">Back</a> <a class ="back" href="/">Home</a>
